Totem.Services/Service References/AlumnoSv/AlumnoWs1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63313/AlumnoWs.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Totem.VO" />
  <xs:element name="obtenerReporteAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="run" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerReporteAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtenerReporteAlumnoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validaLoginAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validaLoginAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validaLoginAlumnoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cambiarClaveUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cambiarClaveUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cambiarClaveUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerReporteAlumnoWs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="run" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerReporteAlumnoWsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Totem.VO" minOccurs="0" name="obtenerReporteAlumnoWsResult" nillable="true" type="q1:RespuestaReporte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>