Totem.Services/Service References/AlumnoSv/AlumnoWs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Totem.VO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Totem.VO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RespuestaReporte">
    <xs:sequence>
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reporteList" nillable="true" type="tns:ArrayOfReporteFinanciero" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaReporte" nillable="true" type="tns:RespuestaReporte" />
  <xs:complexType name="ArrayOfReporteFinanciero">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReporteFinanciero" nillable="true" type="tns:ReporteFinanciero" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReporteFinanciero" nillable="true" type="tns:ArrayOfReporteFinanciero" />
  <xs:complexType name="ReporteFinanciero">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaDocumento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="gastoCobranza" type="xs:double" />
      <xs:element minOccurs="0" name="glosaCuota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="montoCuota" type="xs:double" />
      <xs:element minOccurs="0" name="montoInteres" type="xs:double" />
      <xs:element minOccurs="0" name="nroCuota" type="xs:int" />
      <xs:element minOccurs="0" name="runAlumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalCuota" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReporteFinanciero" nillable="true" type="tns:ReporteFinanciero" />
</xs:schema>